* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: PTSans;
}

li {
    font-size: 20px;
    padding: 2px 20px;
    padding-bottom: 5px;
    border-radius: 8px;
    border: none;
    color: white;
    list-style-type: none;
    text-decoration: none;
    background-color: #191919;
}

li:hover {
    background: #F15025;
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes navLoad {
    0% {
        transform: translateY(-100%);
    }

    50% {
        transform: translateY(-50%);
    }

    75% {
        transform: translateY(-25%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes moveDisk {
    0%{
        transform: translateY(100px);
    }
}

.container {
    width: 100%;
    height: 100vh;
}

.layer {
    background: white;
    height: 10vh;
}

.header {
    position: relative;
    background: #E6E8E6;
    height: 10vh;
    animation: navLoad .5s ease-in;
}

.headerLeft {
    position: absolute;
    top: 20%;
    border: solid;
    margin-left: 20px;
    font-size: 28px;
    color: #F15025;
}

.headerRight {
    position: absolute;
    top: 25%;
    right: 0%;
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.midPage {
    background: white;
    height: 90vh;
}

.headerInfo {
    width: 500px;
    height: 300px;
}

.disk {
    position: absolute;
    width: 100vh;
    top: 50%;
    left: 40%;
    animation: moveDisk 1s ease-in,
                spin 6s linear infinite;
}

.disk:hover {
    scale: 1.01;
}

.footer {
    height: 50vh;
    background-color: #F15025;
}

.footerNames {
    position: absolute;
    border: solid;
    width: 20vw;
    font-size: 32px;
    color: white;
    top: 105%;
    left: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.names {
    font-size: 18px;
}
